.cr-sidebar-large {
  // @include media-breakpoint-down(md) {
  //   display: none;
  // }

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: left 0.2s ease-in;
  z-index: 5;
  width: $cr-sidebar-width;
  font-weight: 200;
  color: #fff;
  background-position: center center;
  background-size: cover;
  transition: left 0.1s ease-in;

  + .cr-content {
    transition: margin 0.1s ease-in;
  }

  &::after,
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
  }

  &::before {
    background: #000;
    opacity: 0.33;
  }

  &::after {
    z-index: 3;
    background: white;
    // sublime light
    // background: #fc5c7d; /* fallback for old browsers */
    // background: linear-gradient(to bottom, #6a82fb, #fc5c7d);
    opacity: 1;
  }

  &[data-image]:after {
    opacity: 0.77;
  }

  &__content {
    position: relative;
    z-index: 4;
    height: calc(100vh - 20px);
    padding-bottom: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
  }

  &__nav-item-collapse {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &__nav-item-icon {
    // @include media-breakpoint-down(md) {
    //   padding: 0;
    //   margin: 0 auto;
    // }
    width: 2.0rem;
    height: 2.0rem;
    padding-right: 0.5rem;
    margin-right: 20px;
    color: theme-color(dark);

    &__active {
      width: 2.0rem;
      height: 2.0rem;
      padding-right: 0.5rem;
      margin-right: 20px;
      color: theme-color(secondary);
    }
  }

  &__nav-name
  {
    color: black;

    &__active
    {
      color: #da4359;
    }
  }

  + .cr-content {
    margin: 0 0 0 $cr-sidebar-width;
    transition: margin 0.2s ease-in;
  }

  .nav {
    margin-top: 20px;

    .nav-item {
      margin: 5px 10px;
      color: theme-color(dark);
      border-radius: 4px;
      opacity: 0.86;
      
    }

    .nav-link {
      // @include media-breakpoint-down(md) {
      //   padding: .5rem;
      // }
      color: theme-color(dark);

      &__active
      {
        color: theme-color(secondary);
      }

      // &:hover {
      //   background: rgba(theme-color(dark), 0.15);
      // }
    }
  }
}

.cr-sidebar-small {
  // @include media-breakpoint-down(md) {
  //   display: none;
  // }

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: left 0.2s ease-in;
  z-index: 5;
  width: $cr-sidebar_small-width;
  font-weight: 200;
  color: #fff;
  background-position: center center;
  // background-size: cover;
  transition: left 0.1s ease-in;

  + .cr-content {
    transition: margin 0.1s ease-in;
  }

  &::after,
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
  }

  &::before {
    background: #000;
    opacity: 0.33;
  }

  &::after {
    z-index: 3;
    background: white;
    // sublime light
    // background: #fc5c7d; /* fallback for old browsers */
    // background: linear-gradient(to bottom, #6a82fb, #fc5c7d);
    opacity: 1;
  }

  &[data-image]:after {
    opacity: 0.77;
  }

  &__content {
    position: relative;
    z-index: 4;
    height: calc(100vh - 20px);
    padding-bottom: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
  }

  &__nav-item-collapse {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &__nav-item-icon {
    // @include media-breakpoint-down(md) {
    //   padding: 0;
    //   margin: 0 auto;
    // }
    width: 1.8rem;
    height: 1.8rem;
    // padding-right: 0.5rem;
    // margin-right: 20px;
    color: theme-color(dark);

    &__active {
      width: 1.8rem;
      height: 1.8rem;
      color: theme-color(secondary);
    }
  }

  + .cr-content {
    margin: 0 0 0 $cr-sidebar_small-width;
    transition: margin 0.2s ease-in;
  }

  .nav {
    margin-top: 20px;

    .nav-item {
      margin: 5px 5px;
      color: theme-color(dark);
      border-radius: 4px;
      opacity: 0.86;
    }

    .nav-link {
      // @include media-breakpoint-down(md) {
      //   padding: .5rem;
      // }
      color: theme-color(dark);

      // &:hover {
      //   background: rgba(theme-color(dark), 0.15);
      // }
    }
  }
}